In [1]:
import pandas as pd

In [2]:
# Read the CSV file into a DataFrame:

Summer_2019_citibike_df = pd.read_csv('2019 Summer/2019 summer citi bike.csv')

In [6]:
# Inspect the DataFrame:

Summer_2019_citibike_df.head()  # Display the first few rows of the DataFrame

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,740,2019-06-29 00:40:02.9730,2019-06-29 00:52:23.7020,470.0,W 20 St & 8 Ave,40.743453,-74.000040,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,16955,Subscriber,1991,1
1,2513,2019-06-29 00:40:04.0540,2019-06-29 01:21:57.3460,492.0,W 33 St & 7 Ave,40.750200,-73.990931,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,35366,Customer,2000,2
2,1637,2019-06-29 00:40:05.1640,2019-06-29 01:07:23.0020,439.0,E 4 St & 2 Ave,40.726281,-73.989780,259.0,South St & Whitehall St,40.701221,-74.012342,14613,Customer,1969,0
3,1631,2019-06-29 00:40:05.2540,2019-06-29 01:07:17.1120,439.0,E 4 St & 2 Ave,40.726281,-73.989780,259.0,South St & Whitehall St,40.701221,-74.012342,18579,Subscriber,1995,1
4,931,2019-06-29 00:40:05.6490,2019-06-29 00:55:37.0990,83.0,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,243.0,Fulton St & Rockwell Pl,40.688410,-73.979458,28631,Customer,1981,2

In [7]:
Summer_2019_citibike_df.info()  # Get a concise summary of the DataFrame

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6650658 entries, 0 to 6650657
Data columns (total 15 columns):
 #   Column                   Dtype
---  ------                   -----
 0   tripduration             int64
 1   starttime                object
 2   stoptime                 object
 3   start station id         float64
 4   start station name       object
 5   start station latitude   float64
 6   start station longitude  float64
 7   end station id           float64
 8   end station name         object
 9   end station latitude     float64
 10  end station longitude    float64
 11  bikeid                   int64
 12  usertype                 object
 13  birth year               int64
 14  gender                   int64
dtypes: float64(6), int64(4), object(5)
memory usage: 761.1+ MB

In [9]:
Summer_2019_citibike_df.fillna(value='unknown', inplace=True)

Summer_2019_citibike_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,740,2019-06-29 00:40:02.9730,2019-06-29 00:52:23.7020,470.0,W 20 St & 8 Ave,40.743453,-74.000040,540.0,Lexington Ave & E 29 St,40.743116,-73.982154,16955,Subscriber,1991,1
1,2513,2019-06-29 00:40:04.0540,2019-06-29 01:21:57.3460,492.0,W 33 St & 7 Ave,40.750200,-73.990931,2006.0,Central Park S & 6 Ave,40.765909,-73.976342,35366,Customer,2000,2
2,1637,2019-06-29 00:40:05.1640,2019-06-29 01:07:23.0020,439.0,E 4 St & 2 Ave,40.726281,-73.989780,259.0,South St & Whitehall St,40.701221,-74.012342,14613,Customer,1969,0
3,1631,2019-06-29 00:40:05.2540,2019-06-29 01:07:17.1120,439.0,E 4 St & 2 Ave,40.726281,-73.989780,259.0,South St & Whitehall St,40.701221,-74.012342,18579,Subscriber,1995,1
4,931,2019-06-29 00:40:05.6490,2019-06-29 00:55:37.0990,83.0,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,243.0,Fulton St & Rockwell Pl,40.688410,-73.979458,28631,Customer,1981,2

In [ ]:
Summer_2019_citibike_df = Summer_2019_citibike_df.drop(columns=["gender","birth year"])
Summer_2019_citibike_df= Summer_2019_citibike_df.drop(columns=["column_name"])